:root {
    --base-color1-light: #f0f2f5;
    --base-color2-light: #fff;
    --base-color3-light: #b8b9bd;
    --base-color4-light: #6c757d;
    --base-color5-light: #3d5e80;

    --base-color1-dark: #252525;
    --base-color2-dark: #353535;
    --base-color3-dark: #888888;
    --base-color4-dark: #aaaaaa;
    --base-color5-dark: #c0c0c0;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    background-color: var(--base-color1-light);
    color: var(--base-color3-light);
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--base-color2-light);
    color: white;
    padding: 10px 20px;
    height: 40px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 5px;
    text-align: center;
    width: 120px;
    min-width: 50px;
}

.nav-list li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    background-color: var(--base-color4-light);
    border-radius: 30px;
}

.nav-list li a:hover {
    background-color: var(--base-color5-light);
    color: #eee;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        cursor: pointer;
        position: relative;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }

    .nav-list {
        flex-direction: column;
        width: 100%;
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--base-color2-light);
        padding: 10px;
        margin: 0;
        z-index: 1000;
    }

    .nav-list li {
        text-align: center;
        width: 200px;
        min-width: 50px;
        margin-bottom: 10px;
    }

    .nav-list li a {
        padding: 15px 20px;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: var(--base-color4-light);
        transition: transform 0.3s ease;
    }
}

.circle-image {
    display: inline-block;
    overflow: hidden;
    width: 33%;
    padding-bottom: 33%;
    height: 0;
    position: relative;
}

.circle-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: circle(30%);
    object-fit: cover;
}

.profile-info-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    color: var(--base-color5-light)
}

.profile-title {
    margin-top: 10px;
    font-size: 18px;
    color: var(--base-color5-light);
}

.profile-sub-title {
    margin-top: 10px;
    font-size: 16px;
    color: var(--base-color4-light);
}

.profile-card {
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--base-color2-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.profile-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.collapsible-container {
    margin-top: 0;
}

.collapsible-header {
    margin: 0 5px;
    padding: 20px;
    background-color: var(--base-color2-light);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}

.collapsible-card {
    margin: 0px 5px 0px 5px;
    padding: 20px;
    background-color: var(--base-color2-light);
    display: none;
}

.collapsible-container.active .collapsible-card {
    display: block;
}

.tech-stack {
    list-style-type: none;
    padding: 0;
    font-family: Arial, sans-serif;
}

.tech-stack li {
    background: var(--base-color1-light);
    margin: 5px 0;
    padding: 10px;
    color: var(--base-color5-light);
    border-left: 5px solid var(--base-color5-light);
}

.tech-stack strong {
    color: var(--base-color5-light);
}

.project-link {
    display: inline-block;
    color: var(--base-color5-light);

    font-size: 16px;

}

.project-link:hover {
    color: var(--base-color5-light);
    transform: scale(1.10);
}

.content {
    max-width: 800px;
    padding: 16px;
    font-size: 20px;
    color: var(--base-color5-light);
    line-height: 1.5;
}

.content p {
    margin-bottom: 20px;
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content li {
    margin: 10px 0;
    padding: 10px;
}

.content p {
    margin: 0;
}

.content a {
    color: var(--base-color5-light);
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.video-container {
    padding-top: 15px;
    border: var(--base-color2-light);
    max-width: 100%;
    box-sizing: border-box;
}

.site-footer {
    background-color: var(--base-color1-light);
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toggle-label {
    cursor: pointer;
}

.toggle-input {
    display: none;
}

.toggle-slider {
    width: 50px;
    height: 26px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
}

.toggle-slider:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 3px;
    left: 3px;
    transition: 0.3s;
}

.toggle-input:checked + .toggle-slider {
    background-color: var(--base-color4-dark);
}

.toggle-input:checked + .toggle-slider:before {
    transform: translateX(24px);
}

/* Переключение темы */
[data-theme='dark'] {
    --base-color1: var(--base-color1-dark);
    --base-color2: var(--base-color2-dark);
    --base-color3: var(--base-color3-dark);
    --base-color4: var(--base-color4-dark);
    --base-color5: var(--base-color5-dark);
    background-color: var(--base-color1-dark);
    color: var(--base-color3-dark);
}

[data-theme='dark'] .navbar {
    background-color: var(--base-color2-dark);
    color: white;
}
[data-theme='dark'] .nav-list {
    background-color: var(--base-color2-dark);
    color: white;
}

[data-theme='dark'] .nav-list li a {
    background-color: var(--base-color4-dark);
}

[data-theme='dark'] .nav-list li a:hover {
    background-color: var(--base-color3-dark);
    color: white;
}

[data-theme='dark'] .collapsible-header {
    background-color: var(--base-color2-dark);
}

[data-theme='dark'] .tech-stack li {
    background: var(--base-color1-dark);
    border-left: 5px solid var(--base-color5-dark);
    color: var(--base-color5-dark);
}

[data-theme='dark'] .tech-stack li strong{
    background: var(--base-color1-dark);
    border-left: 5px solid var(--base-color5-dark);
    color: var(--base-color5-dark);
}

[data-theme='dark'] .project-link {

    color: var(--base-color5-dark);
}

[data-theme='dark'] .content {
    color: var(--base-color5-dark);
}

[data-theme='dark'] .content a {
    color: var(--base-color5-dark);
}

[data-theme='dark'] .site-footer {
    background-color: var(--base-color1-dark);
}

[data-theme='dark'] body,
[data-theme='dark'] html {
    background-color: var(--base-color1-dark);
    color: var(--base-color3-dark);
}

[data-theme='dark'] .profile-card {
    background-color: var(--base-color2-dark);
    color: var(--base-color3-dark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] .profile-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] .collapsible-card {
    background-color: var(--base-color2-dark);
    color: var(--base-color3-dark);
}

[data-theme='dark'] .collapsible-header {
    background-color: var(--base-color2-dark);
}

[data-theme='dark'] .profile-name {
    color: var(--base-color5-dark)
}

[data-theme='dark'] .profile-title {
     color: var(--base-color5-dark);
}

[data-theme='dark'] .profile-sub-title {
    color: var(--base-color5-dark);
}



